@import "./colors";

* {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	background-color: $main-color;
	color: white;
}
.header {
	height: 25vh;
	margin-bottom: 20%;
	background-color: $secondary-color;
	&__title {
		color: $pure-white;
		text-align: center;
	}
}
.section {
	position: relative;
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 10px solid $main-color;
}
.freespace {
	padding: 25px;
	background-color: $main-color;
}
.btn {
	padding: 10px;
	margin: 10px;
	border: 2px solid $fourth-color;
	border-radius: 10px;
	background-color:lightcyan;
	color: purple;
	cursor: pointer;
}

.main {
	background-color: $secondary-color;
	&__fun {
		height: 45vh;
		padding: 50px;

		h1 {
			color: $light-white;
			text-align: center;
		}
	}
	&__task1,
	&__task2 {
		padding: 30px;
		line-height: 25px;
	}
	&__task1 {
		&-list {
			text-align: left;
			list-style-type: none;
		}
	}
	&__task6,
	&__task7 {
		&__lime,
		&__lime2 {
			background-color: lime;
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}
		&__blue,
		&__blue2 {
			margin: 25px;
			background-color: royalblue;
			width: 100px;
			height: 100px;
			border-radius: 50%;
		}
		&__gold,
		&__gold2 {
			position: absolute;
			margin: 35px;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			background-color: gold;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			&-purple{
				margin: 7.5px;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: purple;
			}
		}
	}
}
.btn-2 {
	transition: background-color 0.5s;
}
.btn-2:hover {
	background-color: $fifth-color;
	color: $pure-white;
}

h2 {
	position: relative;
	padding: 15px;
	color: $fifth-color;
	text-align: center;
	margin: 20px 0px;
}
h2::before {
	position: absolute;
	content: "";
	height: 1px;
	width: 40%;
	left: 10%;
	top: 0%;
	border-bottom: 1px solid $pure-white;
}
h2::after {
	position: absolute;
	content: "";
	height: 10px;
	width: 15%;
	right: 10%;
	bottom: -5%;
	border-bottom: 1px solid $pure-white;
}
.testTask7{
	margin: 20px;
font-size: 12px;
padding: 10px 20px;
background-color: purple;
border-radius: 10px;
}
.text89{
	padding: 10px  20px;
	background-color: none;
	border: 2px solid lime;
	border-radius: 8px;
}
