@import "./colors";

* {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	background-color: $main-color;
	color: white;
}
.section{
	display: flex;
	justify-content: center;
	align-items: center;
}

.header{
	position: relative;
	height: 25vh;
	width: 100%;
	margin-bottom: 20%;
	background-color: $secondary-color;
	&__title{
		color: $pure-white;
		text-align: center;

	}
}
.main{
	position: relative;
	display: flex;
	height: 50vh;
	width: 100%;
	background-color: $secondary-color;
	&__dreams{
		h2{
			color: $light-white;
			text-align: center;

		}
	}
}
